.white_divider {
    width: 80%;
    border-bottom: 1px solid #fafafa;
    margin: 15px;
}

.proyecto {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: black;
    padding: 60px;
    height: auto;
    border-bottom: 1px solid white;

}

.proyecto_title {
    font-weight: 700;
    font-size: 34px;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}

.proyecto_description {
    margin: 40px 10px;
    font-size: 22px;
    width: 65%;
    text-align: center;
}