.main {
  font-family: 'Roboto Condensed', sans-serif;
  color: #fafafa;
  background-color: #fafafa;
}


.white_divider {
  width: 80%;
  border-bottom: 1px solid #fafafa;
  margin: 15px;
}

.black_divider {
  width: 80%;
  border-bottom: 1px solid #000000;
  padding: 15px;
}