.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 10;  /* Siempre arriba del Header */
}

.navbar.scrolled {
  background-color: rgb(0, 0, 0);
}

.navbar_logo {
  width: 60px;
}

.navbar_logo:hover {
  color: #bdbdbd;
}

.navbar_links {
  display: flex;
  gap: 20px;
  flex-grow: 1;
  justify-content: center;
}

.navlink {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navlink:hover {
  color: #00bcd4;
}

.navbar_right {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icons {
  color: white;
  font-size: 24px;
  transition: color 0.3s ease;
}

.iconsInsta:hover {
  color: #833ab4; /* Instagram color */
}

.iconsLinkedin:hover {
  color: #0e76a8; /* LinkedIn color */
}

.iconsGitHub:hover {
  color: #2274c7; /* GitHub color */
}

.navbar_links a:hover {
  color: #b71c1c; /* Resalta el enlace al pasar el cursor */
}

.navbar_right .icons:hover {
  color: #b71c1c; /* Resalta el ícono al pasar el cursor */
}
